<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/static/index.css">
    <meta charset="utf-8">
    <title></title>
  </head>

  <style media="screen">
    body {
      background: back;
    }
  </style>

  <body>
    <h1>Welcome to Artemis E-commerse web application.</h1>


    <form class="" action="index.html" method="post">
      <input type="text" name="name" value="Please enter your name">
      <input type="submit" name="" value="sub">
    </form>
  </body>
</html>
